@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/Home/Register" method="post">
                <div class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="">
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
